includes:
	- phpstan-baseline.neon

parameters:
	phpVersion: 80200
	level: 8

	paths:
		- %currentWorkingDirectory%/Classes/
		- %currentWorkingDirectory%/ext_localconf.php

	ignoreErrors:
		-
			identifier: missingType.iterableValue

	treatPhpDocTypesAsCertain: false
	reportWrongPhpDocTypeInVarTag: true
	reportMaybesInPropertyPhpDocTypes: false