includes:
	- phpstan-baseline.neon

parameters:
	phpVersion: 80200
	level: 1

	paths:
		- %currentWorkingDirectory%/Classes/
		- %currentWorkingDirectory%/ext_localconf.php

	treatPhpDocTypesAsCertain: false
	reportWrongPhpDocTypeInVarTag: true
	reportMaybesInPropertyPhpDocTypes: false